asn1crypto==0.22.0
bleach==1.5.0
certifi==2017.7.27.1
cffi==1.10.0
chardet==3.0.4
conda==4.3.30
cryptography==2.0.3
cycler==0.10.0
enum34==1.1.6
html5lib==0.9999999
idna==2.6
Markdown==2.6.10
matplotlib==2.1.1
numpy==1.13.3
protobuf==3.5.1
pycosat==0.6.2
pycparser==2.18
pyOpenSSL==17.2.0
pyparsing==2.2.0
PySocks==1.6.7
python-dateutil==2.6.1
pytz==2017.3
requests==2.18.4
ruamel-yaml==0.11.14
scipy==1.0.0
six==1.10.0
tensorflow==1.4.1
tensorflow-tensorboard==0.4.0rc3
urllib3==1.22
Werkzeug==0.13
